@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

#root,
.controls {
  display: grid;
  grid-template: 1fr / 1fr;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.gameText {
  color: white ;
  font-family: 'Press Start 2P', cursive;  
}

.body {
  background-color: #1d1d1d;
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template: 56.25vw auto / 100vw ;

  @media (min-width: 600px) {
    grid-template: 1fr 337.5px 1fr auto 1fr / 1fr 600px  1fr;
  }
  @media (min-width: 1200px) {
    grid-template: 1fr auto 337.5px auto 1fr / 1fr 600px 1fr auto 1fr;
  }
  
  .panel {
    grid-row-start: 1;
    grid-column-start: 1;
    @media (min-width: 600px) {
      grid-row-start: 2;
      grid-column-start: 2;
    }
    @media (min-width: 1200px) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  .controls {
    grid-row-start: 2;
    grid-column-start: 1;
    @media (min-width: 600px) {
      grid-row-start: 4;
      grid-column-start: 2;
    }
    @media (min-width: 1200px) {
      grid-row-start: 2;
      grid-row-end: 5;
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
}

#mission {
  width: 100%;
  height: 100%;
}

*{
  box-sizing: border-box;
}