.editor {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  &__left {

  }

  &__right {

  }
}

.hoverBox {
  box-shadow: 0px 0px 5px 5px red;
}

.panel {
  background-color: rgba(255, 255, 255, 0.25);
}

.modules {
  height: 100%;
}

.editorControls{
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 5px;
}

.module {
  position: relative;
  outline: 2px dashed blue;


  &:hover { 
    z-index: 1000;
    .locationControls {
      display: block;
    }
  }
}

.locationControls {
  display: none;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

.moveUp {
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
  top: 0px;
  color: red;
}

.moveLeft {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  color: red;
}

.moveDown {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  color: red;  
}

.moveRight {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  color: red;  
}

.increaseWidth {

}