html, 
body,
.body,
#root,
.page {
  height: 100%;
  overflow: none;
  margin: 0px;
}
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 1px solid #1d1d1d;

    * {
      margin: 16px;
    }
  }
  &__content {

  }
  &__footer {

  }
}