
$color1: #08D9D6;
$color2: #252A34;
$color3: #FF2E63;
$color4: #EAEAEA;

.missionsEdit {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;  
  background-color: $color1;
  border-right: 2px solid $color2;
  padding: 4px;
  h4 {
    margin: 0;
  } 
}

.input {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 8px 0;

  &__double {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.section {
  background-color: $color4;
  margin-bottom: 16px;
  padding: 4px;
  border-radius: 4px;
}


.tagWrapper {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid $color2;
  background-color: $color4;
  min-height: 50px;
  
 &__tag {
  padding: 4px;
  margin: 4px;
  border: 1px solid $color2;
  background-color: $color1;
  border-radius: 4px;

    button {
      background: transparent;
      border: none;
      cursor: pointer;      
    }
  }
}

.sentenceWrapper {
  p {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin: 4px;
    border: 1px solid $color2;
    background-color: $color1;
    border-radius: 4px;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}