.preview {
  // center the wrapper
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 320px;
    height: 568px;
    border: 2px black solid;
    background-color: #cecece;
  
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
  }
  
  &__panel {
    background: #2c2c2c;
  }
  
  &__controller {
    position: relative;
    display: grid;
  }
}