.modules {
  display: grid;
  color: white;
  font-family: 'Press Start 2P', cursive;  
}


.module {
  &.nameAble {
    padding-top: 3vmax;
  }
  
  position: relative;
  display: grid;

  &__name {
    position: absolute;
    margin: 0px;
    font-size: 3vmax;
  }
}

.capability {
  display: grid;
}

.element {
  padding: 5px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

label {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.gameCheckbox {
  display: none;
}

.gameButton,
.gameRadio + span,
.gameCheckbox + span {
  // Style
  color: white;
  font-family: 'Press Start 2P', cursive;  
  border-radius: 12px;
  border-width: 0px;

  // Animation
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-property: box-shadow, top, background;
  position: relative;
  box-shadow: 0px 5px 0px #151515;
  top: -2.5px;
  background: linear-gradient(to bottom,  #8e8e8e 0%,#242424 100%);
  
  // center contents
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameButton:active,
.gameCheckbox:checked + span,
.gameRadio:checked + span {
  top: 2.5px;
  box-shadow: none !important;      
  background: linear-gradient(to bottom,  #242424 0%,#8e8e8e 100%);
}

.module.joystick {
  .capability {
    div {
      &:nth-child(1){
        grid-column-start: 2;
        grid-row-start: 1;
      }
      &:nth-child(2){
        grid-column-start: 1;
        grid-row-start: 2;
      }
      &:nth-child(3){
        grid-column-start: 2;
        grid-row-start: 3;

      }
      &:nth-child(4){
        grid-column-start: 3;
        grid-row-start: 2;
      }
      &:nth-child(5){
        grid-row-start: 2;
      }
    }
  }
}

.SELECTOR {
  .gameRadio {
    position: absolute;
    display: none;
  }
  .radioLabel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.numberPicker {
  display: grid;
  grid-row: 1fr auto 1fr;
  grid-columns: auto;
  
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}